# Ignore node_modules directory
node_modules/

# Ignore Cypress binary cache
.cypress/

# Ignore Cypress video recordings
/cypress/videos/

# Ignore Cypress screenshots
/cypress/screenshots/

# Ignore any generated coverage reports
/coverage/

# Ignore any local configuration files
cypress.env.json

